body {
	font-family: var(--font-sans-serif);

	font-weight: 400;
	font-style: normal;
	line-height: 1.6;

	overflow-x: hidden;

	padding-bottom: 10rem;

	background-color: var(--color-site-background);
}

:where(h1, h2, h3, h4, h5, h6) {
	font-size: var(--font-size-base);
	font-weight: 500;
}

code:not(pre code) {
	padding: 2px 6px;
	background-color: var(--color-accent-15);
}
