@layer reset, base, layout, components, pages, utilities;

@import "reset.css" layer(reset);
@import "fonts.css" layer(base);

@layer base {
	:root {
		--font-serif: "PlusJakartaSans";
		--font-code: "JetBrainsMono";

		--font-size-base: 1rem;
		--font-size-body: 1rem;
		--font-size-s: 0.8rem;

		--color-site-background: white;
		--color-grey-background: rgb(245, 245, 245);

		--color-text-100: hsl(0, 0%, 10%);
		--color-text-80: hsl(0, 0%, 20%);
		--color-text-65: hsl(0, 0%, 30%);
		--color-text-50: hsl(0, 0%, 41%);
		--color-text-35: hsl(0, 0%, 60%);
		--color-text-20: hsl(0, 0%, 85%);
		--color-text-10: hsl(0, 0%, 93%);

		--_color-accent: 210, 80%, 40%;
		--color-accent-100: hsla(var(--_color-accent), 1);
		--color-accent-70: hsla(var(--_color-accent), 0.7);
		--color-accent-40: hsla(var(--_color-accent), 0.4);
		--color-accent-40-rgb: rgb(165, 188, 218);
		--color-accent-25: hsla(var(--_color-accent), 0.25);
		--color-accent-15: hsla(var(--_color-accent), 0.15);

		--_color-accent-secondary: 10, 55%, 45%;
        --color-accent-secondary-15: hsla(var(--_color-accent-secondary), 0.15);
        --color-accent-secondary-30: hsla(var(--_color-accent-secondary), 0.3);
        --color-accent-secondary-100: hsla(var(--_color-accent-secondary), 1);
	}

	body {
		font-family: var(--font-serif), serif;

		font-weight: 400;
		font-style: normal;
		line-height: 1.6;

		overflow-x: hidden;

		padding-bottom: 10rem;

		background-color: var(--color-site-background);

		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: var(--font-size-body);
		font-weight: 500;
	}

	.fs-s {
		font-size: var(--font-size-s);
	}

	.fs-base {
		font-size: var(--font-size-base);
	}

	.link {
		display: inline-flex;
		align-items: center;
		gap: 7px;
	}

	.link--default:hover,
	.link--default:focus-visible,
	.link--underline,
	.prose a {
		text-decoration: underline;
		text-decoration-thickness: 1px;
		text-underline-offset: 2px;
	}

	.prose a {
		color: var(--color-accent-100);
	}
}

@layer utilities {
	.with-border-top {
		margin-top: 1rem;
		border-top: 1px solid var(--color-text-10);
		padding-top: 1rem;
	}

	.color-text-65 {
		color: var(--color-text-65);
	}

	.color-text-80 {
		color: var(--color-text-80);
	}

	.color-accent-100 {
		color: var(--color-accent-100);
	}

	.flex-space {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.max-width-50ch {
		max-width: 50ch;
	}

	.max-width-60ch {
		max-width: 60ch;
	}

	.max-width-70ch {
		max-width: 70ch;
	}

	.max-width-90ch {
		max-width: 90ch;
	}

	.margin-top-1 {
		margin-top: 1rem;
	}

	.margin-top-2 {
		margin-top: 2rem;
	}

	.margin-top-4 {
		margin-top: 4rem;
	}

	.margin-top-6 {
		margin-top: 6rem;
	}

	.flex-row-1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;
	}

	.flow-1 * + * {
		margin-top: 1rem;
	}

	.ellipsis {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

@layer layout {
	@layer content-grid {
		.content-grid {
			--padding-inline: 1.5rem;
			--content-max-width: 50ch;

			container: content-grid / inline-size;

			display: grid;
			grid-template-columns: [full-width-start] var(--padding-inline) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] 1fr [full-width-end];
			gap: 0;
		}

		.content-grid > :not(.full-width),
	 	.full-width > :not(.full-width) {
			grid-column: content;
		}

		.content-grid > .full-width {
			grid-column: full-width;

			display: grid;
			grid-template-columns: inherit;
		}
	}

	@layer prose {
		.prose .full-width {
			grid-column: full-width;
		}

		.prose {
			overflow: hidden;

			:first-child {
				margin-top: 0;
			}

			:first-child:is(img) {
				margin-bottom: 1rem;
			}

			> h1,
			> h2,
			> h3,
			> h4 {
				margin-top: 2.5rem;
			}

			> p,
			img {
				margin-top: 1rem;
			}

			> ul {
				list-style: disc;
				padding-left: 2rem;

				li ul {
					list-style: circle;
					padding-left: 2rem;
				}

				li::marker {
					font-size: var(--font-size-s);
				}
			}

			> .fence {
				margin-top: 1rem;
			}
		}
	}

	.records {
		display: grid;
		gap: 4rem;
		margin-block: 2rem 4rem;
	}

	.record {
		display: grid;
		gap: 0.5rem;
	}
}

@layer components {
	@layer code {
		/* Code Block */
		.fence {
			font-family: var(--font-code), monospace;
			font-size: var(--font-size-s);

			border: 1px solid var(--color-text-20);

			background-color: var(--color-grey-background);
		}

		.filename {
			padding: 1rem;
		}

		.code {
			overflow: scroll;
			margin-block: 0;
			padding: 1rem;

			border-top: 1px solid var(--color-text-20);

			max-height: min(600px, 60svh);

			scrollbar-width: thin;
			scrollbar-color: var(--color-accent-15) transparent;

			background-color: unset !important;
			color: unset !important;
		}

		/* Code Inline */
		code:not(pre code) {
			padding: 2px 6px;
			background-color: var(--color-accent-15);
		}
	}
}

@layer pages {
	@layer post {
		.post--links {
			display: flex;
			align-items: center;
			gap: 2rem;

			padding-block: 1rem;
			margin-block: 2rem;
			border-block: 1px solid var(--color-text-10);
		}

		.post--img {
			--_pos: center;

			max-height: 400px;
			width: 100%;

			object-fit: cover;
			object-position: var(--_pos);
		}
	}

	@layer about {
		.about--images {
			display: grid;
			gap: 2rem;

			max-width: 800px;

			img {
				width: min(400px, 100%);
			}
		}
	}
}
