---
import Base from '../../layouts/Base.astro';
import { formatDate } from '../../wwwroot/js/utils'
import { getCollection } from 'astro:content';

const allPosts = await getCollection('writings');
const pageTitle = "Writings";
---

<Base pageTitle={pageTitle}>
    <section>
        <div class="hero">
            <h1>New Writings</h1>
        </div>
    </section>

    <section>
        <div class="writings">
            {allPosts.map((post: any) =>
                    <a href={`/writings/${post.id}/`} class="post-metadata">
                        <span class="post-metadata-date">{formatDate(post.data.date)}</span>
                        <span class="post-metadata-title">{post.data.title}</span>
                    </a>
                    <div class="post-metadata-tags">— {post.data.tags.join(', ')}</div>
            )}
        </div>
    </section>
</Base>