---
import Base from '../../layouts/Base.astro';
import WritingsIndex from '../../components/WritingsIndex.astro';

const description = "Read my writings, essays, book reviews, tech insights, and my general thoughts on writing, software, design, and innovation.";
const title = "Ethan Perry Blog | Writings, Essays, Book Reviews & Tech Insights";
---

<Base title={title} description={description}>
	<section class="max-width-70ch">
		<h1>Writings</h1>
    	<WritingsIndex />
	</section>
</Base>
