---
import Base from '../layouts/Base.astro'
const pageTitle = "404: page not found";
---

<Base pageTitle={pageTitle}>
    <section class="error">
        <h1>404: Page Not Found</h1>
        <a href="/" class="with-arrow right underline">Go home</a>
    </section>
</Base>