---
import Base from '../layouts/Base.astro'
import Link from "../components/Link.astro";

const title = "404 Page Not Found | Ethan Perry";
const description = "Oops, the page you’re looking for doesn’t exist. Return to the homepage to explore more.";
---

<Base title={title} description={description}>
	<section class="flow-1">
		<h1>404: Page Not Found</h1>
		<div>
  			<Link href="/" icon={{name: "arrow-right", side: "right"}}>Go home</Link>
		</div>
	</section>
</Base>
