---
import Base from '../layouts/Base.astro'
import Link from "../components/Link.astro";

const title = "404: Page Not Found | Ethan Perry";
const description = "404: The page you're looking for doesn't exist. Return to the homepage or check the URL.";
---

<Base title={title} description={description}>
	<section>
		<h1>404: Page Not Found</h1>
		<Link href="/" variant="button" classes="margin-top-2">Go home</Link>
	</section>
</Base>
