---
import Base from '../layouts/Base.astro'
import Link from "../components/Link.astro";

interface Props {
    error: unknown;
}

const { error } = Astro.props;

const title = "500: Internal Server Error | Ethan Perry";
const description = "500: Something went wrong on our end. Please try again later or contact support.";
---
<Base title={title} description={description}>
	<section>
		<h1>500: Internal Server Error — {error instanceof Error ? error.message : "unknown error"}</h1>
		<Link href="/" variant="button" classes="margin-top-2">Go home</Link>
	</section>
</Base>
