---
import Base from '../layouts/Base.astro'
import Link from "../components/Link/Link.astro";

interface Props {
    error: unknown;
}

const { error } = Astro.props;

const title = "500: Internal Server Error | Ethan Perry";
const description = "500: Something went wrong on our end. Please try again later or contact support.";
---
<Base title={title} description={description}>
	<h1>500: Internal Server Error — {error instanceof Error ? error.message : "unknown error"}</h1>
	<Link class="margin-top-2" href="/" variant="underline">Go home</Link>
</Base>
