---
import Base from '../layouts/Base.astro'
import Link from "../components/Link.astro";

interface Props {
    error: unknown;
}

const { error } = Astro.props;

const title = "500 Internal Server Error | Ethan Perry";
const description = "Oops, something went wrong. Please try again later, visit the homepage, or reach out for support.";
---
<Base title={title} description={description}>
    <section class="error">
        <h1>500 Error</h1>
        <Link href="/" icon={{name: "arrow-right", side: "right"}}>Go home</Link>
        <div>{error instanceof Error ? error.message : "Unknown error"}</div>
    </section>
</Base>