---
import Base from '../layouts/Base.astro'
import Link from "../components/Link.astro";
const pageTitle = "About";

import imgPortraitLagos from "/public/assets/images/about/portrait-lagos.webp";
import imgPortraitTavira from "/public/assets/images/about/portrait-tavira.webp";

import { getCollection } from 'astro:content';

const works = await getCollection('work');
---

<Base pageTitle={pageTitle}>
    <section class="dual-column with-border-top">
        <div class="flow-1">
            <h1>Hi, I'm Ethan Perry</h1>
        </div>
        <div class="flow-1 color-text-65">
            <p class="indent-line-4">
                I'm originally from Denver, Colorado.
            </p>
            <p>
                My work centers on software development, web design, and formerly, data center operations
                (installing and maintaining servers and network systems).
            </p>

            <p>
                While I enjoy the technical side of my work, what motivates me the most is creating tangible outcomes
                that solve real-world problems. I’m most inspired by people who challenge the norm and question assumptions, and
                I try to bring this mindset to my work and writings.</p>

            <p>
                In my personal time I'm usually playing piano, writing, hiking, or exploring new programming ideas.
            </p>
            <Link href="/contact" icon={{name: "arrow-right", side: "right"}}>Say hello</Link>
        </div>
    </section>

    <section class="dual-column margin-top-12">
        <div class="about--images">
            <img src={imgPortraitLagos.src} alt="ex1">
            <img src={imgPortraitTavira.src} alt="ex2">
        </div>
    </section>

    <section class="theme-grey margin-top-12">
        <section class="dual-column ">
            <div class="flow-1">
                <h2>CV</h2>
                <Link href="/" icon={{name: "open-in-new", side: "right", width: "16px", height: "16px"}} classes="color-accent-70 fs-base">View full resume</Link>
            </div>
            <ul class="cv">
                <li class="role">
                    <h3>Software Engineer — HPE</h3>

                    <span class="fs-s">OCT 2023 — OCT 2024</span>

                    <p>Led the development and deployment of a cloud-based storage assessment tool on AWS, replacing a legacy VM system, resulting in improved security and user experience. Contributed to a proposal generation tool for the Go-To-Market team, utilizing Python and Docker to streamline proposal creation and improve the sales pipeline.</p>

                    <ul role="list" class="role--tags fs-s">
                        <li>Python</li>
                        <li>SQL</li>
                        <li>Docker</li>
                        <li>AWS</li>
                        <li>ElasticSearch</li>
                    </ul>
                </li>
                <li class="role">
                    <h3>Lab Technician — HPE</h3>

                    <span class="fs-s">OCT 2023 — OCT 2024</span>

                    <p>Led the development and deployment of a cloud-based storage assessment tool on AWS, replacing a legacy VM system, resulting in improved security and user experience. Contributed to a proposal generation tool for the Go-To-Market team, utilizing Python and Docker to streamline proposal creation and improve the sales pipeline.</p>

                    <ul role="list" class="role--tags fs-s">
                        <li>Python</li>
                        <li>SQL</li>
                        <li>Docker</li>
                        <li>AWS</li>
                        <li>ElasticSearch</li>
                    </ul>
                </li>
                <li class="role the">
                    <h3>Marketing Consultant — SharpNet Solutions</h3>
                    <span class="fs-s">AUG 2020 — NOV 2021</span>

                    <p>Managed client relationships and provided strategic advice on paid advertising, SEO campaigns, websites, and brand development. Boosted website conversions for a real estate company by 20%. Increased online revenue for a cake company by 50% within 12 months.</p>

                    <ul role="list" class="role--tags fs-s">
                        <li>Web design</li>
                        <li>SEO</li>
                        <li>HTML / CSS</li>
                        <li>WordPress</li>
                        <li>Account management</li>
                    </ul>
                </li>
            </ul>
        </section>
    </section>

    <section class="theme-dark margin-top-4">
        <section class="dual-column ">
            <h2>Relevant Skills</h2>
            <ul class="flex-col-2 ">
                <li>
                    <h3 class="underline">Programming Languages</h3>
                    <p>Python, C#, SQL, Java, HTML, CSS</p>
                </li>
                <li>
                    <h3 class="underline">Tools, Platforms, Frameworks</h3>
                    <p>.NET, MongoDb, ElasticSearch, Astro, Vercel, Github, Docker, AWS, VMWare</p>
                </li>
                <li>
                    <h3 class="underline">Other Skills</h3>
                    <p>Server hardware installation and maintenance, network infrastructure management</p>
                </li>
            </ul>
        </section>
    </section>

</Base>