---
import Base from '../layouts/Base.astro'
import Link from "../components/Link.astro";

import imgPortraitLagos from "/public/assets/images/about/portrait-lagos.webp";
import imgPortraitTavira from "/public/assets/images/about/portrait-tavira.webp";

import { getCollection } from 'astro:content';

const works = await getCollection('work');

const title = "About | Software Engineer & Writer Portfolio | Ethan Perry";
const description = "Learn more about my background, skills, and professional journey. Download my full resume or contact me if you have any questions.";
---

<Base title={title} description={description}>
    <section class="dual-column with-border-top">
        <div class="flow-1">
            <h1>Hi, I'm Ethan Perry</h1>
        </div>
        <div class="flow-1 color-text-65">
            <p>I'm originally from Denver, Colorado.</p>
            <p>My current work focuses on software development, and my background in data center operations, web design, and digital marketing gives me a unique perspective on how technical problem-solving intersects with creative thinking.</p>
            <p>While I enjoy optimizing infrastructure, analyzing data, and tackling other meticulous tasks, I’m equally passionate about the creative side of my work.</p>
            <p>I’m inspired by people who challenge the norm and question assumptions, and I try to bring that mindset to both my work and my writing.</p>
            <p>Outside of work, I spend my time playing piano, exercising, writing, hiking, and exploring new programming ideas.</p>
            <Link href="/contact" icon={{name: "arrow-right", side: "right"}}>Say hello</Link>
        </div>
    </section>

    <section class="dual-column margin-top-12">
        <div class="about--images">
            <img src={imgPortraitLagos.src} alt="ex1">
            <img src={imgPortraitTavira.src} alt="ex2">
        </div>
    </section>

    <section class="theme-grey margin-top-12">
        <section class="dual-column ">
            <div class="flow-1">
                <h2>CV</h2>
                <Link href="/resume_ethan_perry.pdf" icon={{name: "open-in-new", side: "right", width: "16px", height: "16px"}} classes="color-accent-70" target="_blank" rel="noopener noreferrer">View full resume</Link>
            </div>
            <ul class="cv">
                <li>
                    <p>Software engineer with a background in data center operations and digital marketing. Skilled at solving complex problems and building modern, intuitive applications.</p>
                </li>
                <li class="role">
                    <h3>Software Engineer — HPE</h3>

                    <span class="fs-s">OCT 2023 — OCT 2024</span>

                    <p>Developed and deployed a cloud-based storage assessment tool on AWS, replacing a legacy VM system, resulting in improved security and user experience.</p>
                    <p>Contributed to a proposal generation tool for the Go-To-Market team, utilizing Python and Docker to streamline proposal creation and improve the sales pipeline.</p>

                    <ul role="list" class="role--tags fs-s">
                        <li>Python</li>
                        <li>Django</li>
                        <li>Docker</li>
                        <li>AWS</li>
                        <li>ElasticSearch</li>
                        <li>VMWare</li>
                    </ul>
                </li>
                <li class="role">
                    <h3>Data Center Technician — HPE</h3>

                    <span class="fs-s">OCT 2023 — OCT 2024</span>

                    <p>Configured and maintained network infrastructure, ensuring optimal performance and minimizing downtime. Provided support for both local and international teams.</p>
                    <p>Monitored and managed server health and performance, implementing troubleshooting protocols to resolve hardware and software issues efficiently.</p>

                    <ul role="list" class="role--tags fs-s">
                        <li>IT Support</li>
                        <li>Server Installation & Maintenance</li>
                        <li>Network Infrastructure</li>
                        <li>Lab Management</li>
                        <li>VMWare</li>
                    </ul>
                </li>
                <li class="role the">
                    <h3>Marketing Consultant — SharpNet Solutions</h3>
                    <span class="fs-s">AUG 2020 — NOV 2021</span>

                    <p>Managed client relationships and provided strategic advice on paid advertising, SEO campaigns, websites, and brand development.</p>
                    <p>Analyzed campaign metrics and user behavior to improve SEO and boost organic traffic, search rankings, and conversion efficiency across client sites.</p>
                    <ul role="list" class="role--tags fs-s">
                        <li>Web design</li>
                        <li>SEO</li>
                        <li>Copywriting</li>
                        <li>Account management</li>
                        <li>Data Analytics</li>
                        <li>Content Marketing</li>
                    </ul>
                </li>
            </ul>
        </section>

        <section class="dual-column margin-top-8">
            <h2>Relevant Skills</h2>
            <ul class="flex-col-2 ">
                <li>
                    <h3 class="underline">Programming Languages</h3>
                    <p>Python, C#, SQL, Java, HTML, CSS</p>
                </li>
                <li>
                    <h3 class="underline">Tools, Platforms, Frameworks</h3>
                    <p>.NET, MongoDb, Astro, GitHub, Docker, AWS, VMWare, ElasticSearch, Cloudflare, Figma, Airtable, Adobe</p>
                </li>
                <li>
                    <h3 class="underline">Other Skills</h3>
                    <p>Server hardware installation and maintenance, network infrastructure management</p>
                </li>
            </ul>
        </section>
    </section>
</Base>