---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";

const title = "Contact | Ethan Perry";
const description = "Get in touch for collaborations, project inquiries, or general questions and comments.";
---

<Base title={title} description={description}>
	<section>
		<h1>Contact</h1>
		<ul class="flow-1 margin-top-1">
            <li><Link href="mailto:ethan.perry.a@gmail.com" variant="blue" icon="arrow-right">ethan.perry.a@gmail.com</Link></li>
            <li><Link href="https://linkedin.com/in/ethan-a-perry" variant="blue" icon="arrow-right" external={true}>LinkedIn</Link></li>
            <li><Link href="https://github.com/ethan-a-perry" variant="blue" icon="arrow-right" external={true}>GitHub</Link></li>
        </ul>

        <div class="form--wrapper margin-top-4">
            <h2>Send me a message</h2>
            <form id="contact-form" novalidate>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                    <span class="error-message" aria-live="polite"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" data-error="Please enter a valid email address" required>
                    <span class="error-message" aria-live="polite"></span>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" name="phone" data-error="Please enter a valid phone number">
                    <span class="error-message" aria-live="polite"></span>
                </div>
                <div class="form-group grid-span">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" required />
                    <span class="error-message" aria-live="polite"></span>
                </div>

                <div class="form-group grid-span">
                    <button>Submit</button>
                </div>

                <div class="hp">
                    <label for="hp"></label>
                    <input id="hp" name="hp" aria-hidden="true" tabindex="-1" autocomplete="off" >
                </div>
            </form>

            <div id="form-status"></div>
        </div>
	</section>
</Base>

<script src="../wwwroot/js/form.js"></script>
