---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";

const title = "Contact";
const description = "";
---

<Base title={title} description={description}>
    <section class="dual-column with-border-top">
        <h1>Contact</h1>

        <div class="contact">
            <ul>
                <li><Link href="mailto:ethan@ethanperry.net" icon={{name: "arrow-right", side: "right"}}>ethan@ethanperry.net</Link></li>
                <li><Link href="https://linkedin.com/in/perry-ethan" target="_blank" rel="noopener noreferrer" icon={{name: "arrow-right", side: "right"}}>LinkedIn</Link></li>
                <li><Link href="https://github.com/perry-ethan" target="_blank" rel="noopener noreferrer" icon={{name: "arrow-right", side: "right"}}>Github</Link></li>
                <li><Link href="https://goodreads.com/ethanperry" target="_blank" rel="noopener noreferrer" icon={{name: "arrow-right", side: "right"}}>Goodreads</Link></li>
            </ul>

            <div class="flex-col-2 form--wrapper">
                <h2>Send me a message</h2>
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" id="phone">
                    </div>
                    <div class="form-group grid-span">
                        <label for="message">Message</label>
                        <textarea id="message" required />
                    </div>

                    <div class="form-group">
                        <button class="grid-span">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</Base>