---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";
import WritingsIndex from "../components/WritingsIndex.astro";
import WorkIndex from "../components/WorkIndex.astro";

const title = "Ethan Perry | Software Engineer & Writer | Portfolio"
const description = "Creative software engineer buildi"
---

<Base title={title} description={description}>
	<section class="home">
		<h1>Hi, my name is Ethan Perry. This website showcases my apps, projects, and writings.</h1>

		<div>
			<h2>Recent Work</h2>
			<WorkIndex limit={4} />
			<Link href="/work" classes="color-accent-100" icon={{name: "arrow-right", side: "right"}}>View all work</Link>
		</div>

		<div>
			<h2>Writings</h2>
			<WritingsIndex limit={6} />
			<Link href="/writings" classes="color-accent-100 margin-top-1" icon={{name: "arrow-right", side: "right"}}>View all writings</Link>
		</div>
	</section>
</Base>
