---
import Base from '../layouts/Base.astro';
const pageTitle = "Ethan Perry"
---

<Base pageTitle={pageTitle}>
    <section class="hero thing">
        <h1>Hello, my name is Ethan Perry</h1>
    </section>
</Base>