---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";
import WritingsIndex from "../components/WritingsIndex.astro";
import WorkIndex from "../components/WorkIndex.astro";

const title = "Ethan Perry | Software Engineer & Writer | Portfolio"
const description = "Creative software engineer building simple, modern apps. Sharing essays, tutorials, book reviews, technical insights, and more.";
---

<Base title={title} description={description}>
    <section class="dual-column">
        <h1>Ethan Perry</h1>
        <div class="flow-2">
            <p class="">I'm a software developer with a background in data center operations and digital marketing, which gives me a unique lens into the ways technical problem-solving and creative thinking intersect.</p>
            <p class=" ">Writing is another core part of my work—it helps me process and clarify my thoughts, opinions, and ideas. On this site, you'll find a mix of my professional projects, technical experiments, and SaaS ventures, alongside my writing, including essays, book reviews, coding tutorials, poems, and more.</p>
        </div>
    </section>

    <section class="margin-top-10 with-border-top">
        <div class="flex-space">
            <h2>Latest Work</h2>
            <Link href="/work" classes="color-text-50" icon={{name: "arrow-right", side: "right"}}>View all</Link>
        </div>

        <WorkIndex limit={4} />
    </section>

    <section class="margin-top-12 with-border-top">
        <div class="flex-space">
            <h2>Latest Writings</h2>
            <Link href="/writings" classes="color-text-50" icon={{name: "arrow-right", side: "right"}}>View all</Link>
        </div>
        <WritingsIndex limit={6} />
    </section>

    <section class="sitemap margin-top-16">
        <ul class="l0">
            <li>
                <div class="node">Home</div>
                <ul class="l1">
                    <li>
                        <div class="node">Work</div>
                        <ul class="l2">
                            <li><div class="node">Personal Website</div></li>
                            <li><div class="node">Sudoku App</div></li>
                        </ul>
                    </li>
                    <li>
                        <div class="node">Writings</div>
                        <ul class="l2">
                            <li><div class="node">Book review: The Netanyahus by Joshua Cohen</div></li>
                            <li><div class="node">Article #3</div></li>
                            <li><div class="node">Challenging Mary Shelley's Frankenstein</div></li>
                        </ul>
                    </li>
                    <li><div class="node">About</div></li>
                    <li><div class="node">Contact</div></li>
                </ul>
            </li>
        </ul>
    </section>
</Base>

<style>

    .node {
        width: 200px;

        padding: 12px 18px;

        border: 1px solid var(--color-text-65);
        border-radius: 5px;

        &::before, &::after {
            content: "";
            position: absolute;


        }

        &::after {
            z-index: 10;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            border: 1px solid black;
            background-color: var(--color-site-background);
        }

        .l0 > li > & {
            background-color: var(--color-accent-secondary-30);

            &::after {
                display: none;
            }
        }

        .l1 > li > & {
            background-color: var(--color-accent-15);
        }

        .l2 > li > & {
            background-color: #ffe2ab;
        }
    }

    .l0 > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;

        anchor-scope: --l0-node;

        > .node {
            anchor-name: --l0-node;

            &::before {
                position-anchor: --l0-node;

                top: anchor(--l0-node bottom);
                bottom: calc((anchor(--l0-node bottom) + anchor(--l1 top)) / 2);
                justify-self: anchor-center;

                width: 2px;

                background: black;
            }
        }
    }

    .l1 {
        display: flex;
        gap: 3rem;

        anchor-name: --l1;

        > li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            anchor-scope: --l1-node;

            > .node {
                anchor-name: --l1-node;

                &::before {
                    top: calc((anchor(--l0-node bottom) + anchor(--l1 top)) / 2);
                    bottom: anchor(--l1-node top);
                }

                &::after {
                    position-anchor: --l1-node;
                    bottom: anchor(--l1-node top);
                    justify-self: anchor-center;

                    transform: translateY(50%);
                }
            }

            &:first-child, &:last-child {
                > .node::before {
                    inset-inline: min(anchor(--l0-node center), anchor(--l1-node center));

                    border-top: 2px solid black;
                }
            }

            &:first-child > .node::before {
                box-shadow: -1px 0 0 0 black;
                border-left: 1px solid black;
                border-top-left-radius: 5px;
            }

            &:last-child > .node::before {
                box-shadow: 1px 0 0 0 black;
                border-right: 1px solid black;
                border-top-right-radius: 5px;
            }

            &:not(:first-child, :last-child) > .node::before {
                position-anchor: --l1-node;
                justify-self: anchor-center;
                width: 2px;
                background-color: black;
            }
        }
    }

    .l2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding-inline-start: 2rem;

        anchor-scope: --l2, --l2-node-last;
        anchor-name: --l2;

        &::before {
            content: '';
            position: absolute;

            top: anchor(--l1-node bottom);
            right: anchor(--l1-node center);
            bottom: calc((anchor(--l2 top) + anchor(--l1-node bottom)) / 2);
            left: anchor(--l2 left);

            border-right: 2px solid black;
            border-bottom: 2px solid black;
            border-bottom-right-radius: 5px;
        }

        &::after {
            content: '';
            position: absolute;

            top: calc((anchor(--l2 top) + anchor(--l1-node bottom)) / 2);
            right: anchor(--l2-node-last left);
            bottom: anchor(--l2-node-last center);
            left: anchor(--l2 left);

            box-shadow: 0 1px 0 0 black;
            border-bottom: 1px solid black;
            border-left: 2px solid black;
            border-bottom-left-radius: 5px;
        }

        > li {
            > .node {
                anchor-scope: --l2-node;
                anchor-name: --l2-node, --l2-node-last;

                &::after {
                    position-anchor: --l2-node;
                    position-area: left center;

                    transform: translateX(50%);
                }
            }

            &:not(:last-child) > .node::before {
                position-anchor: --l2-node;

                right: anchor(--l2-node left);
                left: anchor(--l2 left);
                top: anchor(--l2-node center);
                transform: translateY(-50%);

                height: 2px;

                background: black;
            }

            &:last-child {
                /*display: none;*/
            }
        }
    }
</style>