---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";
import WritingsIndex from "../components/WritingsIndex.astro";
import WorkIndex from "../components/WorkIndex.astro";

const title = "Ethan Perry | Software Engineer & Writer | Portfolio"
const description = "Creative software engineer building simple, modern apps. Sharing essays, tutorials, book reviews, technical insights, and more.";
---

<Base title={title} description={description}>
    <section class="dual-column">
        <h1>Ethan Perry</h1>
        <div class="flow-1 color-text-5">
            <p class="indent-line-4">I'm a software developer with a background in data center operations and digital marketing, which gives me a unique lens into the ways technical problem-solving and creative thinking intersect.</p>
            <p class="with-border-top margin-top-1">Writing is another core part of my work—it helps me process and clarify my thoughts, opinions, and ideas. On this site, you'll find a mix of my professional projects, technical experiments, and SaaS ventures, alongside my writing, including essays, book reviews, coding tutorials, poems, and more.</p>
            <Link href="/about" classes="color-text-50" icon={{name: "arrow-right", side: "right"}}>More about me</Link>
        </div>
    </section>

    <section class="margin-top-10 with-border-top">
        <div class="flex-space">
            <h2>Latest Work</h2>
            <Link href="/work" classes="color-text-50" icon={{name: "arrow-right", side: "right"}}>View all</Link>
        </div>

        <WorkIndex limit={4} />
    </section>

    <section class="margin-top-12 with-border-top">
        <div class="flex-space">
            <h2>Latest Writings</h2>
            <Link href="/writings" classes="color-text-50" icon={{name: "arrow-right", side: "right"}}>View all</Link>
        </div>
        <WritingsIndex limit={6} />
    </section>
</Base>