---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";
import WritingIndex from "../components/WritingIndex.astro";
import WorkIndex from "../components/WorkIndex.astro";

const title = "Ethan Perry"
const description = "Personal website showcasing my work and writing."
---

<Base title={title} description={description}>
	<section class="home">
		<h1>Hi, I'm Ethan. This is where I share what I'm working on and thinking about.</h1>

		<div>
			<h2>Recent Work</h2>
			<WorkIndex limit={6} />
			<Link href="/work" variant="button" classes="margin-top-1">View all work</Link>
		</div>

		<div>
			<h2>Recent Writing</h2>
			<WritingIndex limit={6} />
			<Link href="/writing" variant="button" classes="margin-top-1">View all writing</Link>
		</div>
	</section>
</Base>
