---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";

const title = "Ethan Perry — Portfolio"
const description = "";
---

<Base title={title} description={description}>
    <section class="dual-column">
        <h1>Ethan Perry</h1>
        <div class="flow-1 color-text-65">
            <!--<h2 class="indent-line-4 p">(Writer, Developer)</h2>-->

            <p class="indent-line-4">I'm a software developer (and writer) with a background in data center operations and digital marketing. My experience has given me a strong insight into the ways technical problem-solving intersects with creative thinking.</p>

            <Link href="/about" icon={{name: "arrow-right", side: "right"}}>More about me</Link>
        </div>
    </section>

    <section class="dual-column theme-dark margin-top-16">
        <h2 class="p">Work</h2>
        <div class="flow-1 ">

            <p>I love creating, and this is where I'll share some of what I make.</p>
            <p>You’ll see everything from professional ventures and technical experiments to SaaS projects, tools for the community, or anything else I find interesting.</p>

            <Link href="/about" classes="dark-standard" icon={{name: "arrow-right", side: "right"}}>View my work</Link>
        </div>
    </section>

    <section class="dual-column theme-grey margin-top-4">
        <h2 class="p">Writings</h2>
        <div class="flow-1 ">
            <p>At heart, I'm a writer.</p>
            <p>Writing is how I process the world and clarify my own thoughts and opinions.</p>
            <p>Here, you'll find a variety of my work including essays, book reviews, coding tutorials, discoveries, poems, and more.</p>

            <Link href="/about" icon={{name: "arrow-right", side: "right"}}>Read my stuff</Link>
        </div>
    </section>
</Base>