---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";
import Icon from "../components/Icon.astro";
import WritingIndex from "../components/WritingIndex.astro";
import WorkIndex from "../components/WorkIndex.astro";

const title = "Ethan Perry"
const description = "Personal website showcasing my work and writing."
---

<Base title={title} description={description}>
	<h1 class="max-width-50ch">I share some of my projects, work, and writing here. Please reach out to me if you find any of it interesting!</h1>
</Base>
