---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";
import WritingIndex from "../components/WritingIndex.astro";
import WorkIndex from "../components/WorkIndex.astro";

const title = "Ethan Perry"
const description = "Personal website showcasing my work and writing."
---

<Base title={title} description={description}>
	<section class="home">
		<p>I occassionaly share my projects, work, and writing here. Please reach out to me if you find any of my stuff interesting!</p>
	</section>
</Base>
