---
import Base from '../layouts/Base.astro';
const pageTitle = "Projects";

import image1 from "../wwwroot/assets/images/menu.webp";
import image2 from "../wwwroot/assets/images/leica.webp";
---

<Base pageTitle={pageTitle}>
    <section>
        <div class="hero">
            <h1>Projects</h1>
            <p>Send me a message directly through any of my links or by using the form below. Thank you!</p>
        </div>
    </section>
</Base>