---
import '../wwwroot/css/sudoku.css'
import Base from '../layouts/Base.astro'

const pageTitle = "Sudoku"
---

<Base pageTitle={pageTitle}>
    <section>
        <div class="hero">
            <h1 class="hero-title">Sudoku App</h1>
            <p class="hero-description">Welcome to my Sudoku app. Please select from the following puzzles below. Enjoy!</p>
        </div>
    </section>

    <div id="sudoku" class="full-width">
        <div class="sudoku">
            <div class="loader">
                {Array.from({ length: 15 }).map(() => (
                        <span></span>
                ))}
            </div>

            <div class="loader">
                {Array.from({ length: 17 }).map(() => (
                        <span></span>
                ))}
            </div>
        </div>
    </div>
</Base>

<script>
    import { startSudoku } from '../wwwroot/js/sudoku.js';

    setTimeout(() => {
        startSudoku();
    }, 800);
</script>