---
import Base from '../layouts/Base.astro';
import Link from "../components/Link.astro";
const pageTitle = 'Work';
---

<Base pageTitle={pageTitle}>
    <section class="hero">
        <h1 class="hero-title">Work experience</h1>
        <div class="hero-description">
            <p>Please take a look at my current work experience. Send me an email at <a href="mailto:ethan@ethanperry.net">ethan@ethanperry.net</a> or download my full <a href="/">resume</a> to learn more.</p>
        </div>
    </section>

    <section>
        <ul class="companies">
            <li class="content-tree">
                <h3 class="company-title">HPE</h3>
                <ul class="nodes">
                    <li class="node">
                        <div class="position">
                            <div>
                                <h4 class="anchor">Software Engineer</h4>
                                <p class="position-dates fs-s italic caption">OCT 2023 — OCT 2024</p>
                            </div>

                            <p>Led the development and deployment of a cloud-based storage assessment tool on AWS, replacing a legacy VM system, resulting in improved security and user experience. Contributed to a proposal generation tool for the Go-To-Market team, utilizing Python and Docker to streamline proposal creation and improve the sales pipeline.</p>

                            <ul role="list" class="skills">
                                <li>Python</li>
                                <li>SQL</li>
                                <li>Docker</li>
                                <li>AWS</li>
                                <li>ElasticSearch</li>
                            </ul>
                        </div>
                    </li>
                    <li class="node">
                        <div>
                            <h4 class="anchor">Lab Technician</h4>
                            <p class="position-dates fs-s italic caption">JUN 2023 — OCT 2023</p>
                        </div>

                        <p>Configured and maintained network infrastructure, ensuring optimal performance and minimizing downtime. Provided support for both local and international teams. Monitored and managed server health and performance, implementing troubleshooting protocols to resolve hardware and software issues efficiently.</p>

                        <ul class="skills">
                            <li>VMWare</li>
                            <li>Linux</li>
                            <li>Docker</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="content-tree">
                <h3 class="company-title">SharpNET Solutions</h3>
                <ul class="nodes">
                    <li class="node">
                        <div>
                            <h4 class="anchor">Marketing Consultant</h4>
                            <p class="position-dates fs-s italic caption">AUG 2020 — NOV 2021</p>
                        </div>

                        <p>Managed client relationships and provided strategic advice on paid advertising, SEO campaigns, websites, and brand development. Boosted website conversions for a real estate company by 20%. Increased online revenue for a cake company by 50% within 12 months.</p>

                        <ul class="skills">
                            <li>Web design</li>
                            <li>SEO</li>
                            <li>HTML / CSS</li>
                            <li>WordPress</li>
                            <li>Account management</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="info">
        <h2>Relevant skills</h2>

        <div>
            <h3>Programming Languages</h3>
            <p>Python, C#, SQL, Java, HTML, CSS</p>
        </div>

        <div>
            <h3>Tools, Platforms & Frameworks</h3>
            <p>.NET, MongoDB, Elasticsearch, Astro, Vercel, Github, Docker, AWS, VMWare</p>
        </div>

        <div>
            <h3>Other Skills</h3>
            <p>Server hardware installation and maintenance, server and network infrastructure management</p>
        </div>

        <Link href="/" icon={{name: "arrow-right", side: "right"}}>View full resume</Link>
    </section>
</Base>