---
interface Props {
    language: string;
    filename?: string;
}

const {
    language,
    filename
} = Astro.props as Props;
---

<div class="code-block">
    <div class="code-block--header flex-row-1 fs-base">
        <span class="filename ellipsis">{filename}</span>
        <span class="language">{language}</span>
    </div>
    <slot />
</div>