---
import { Code } from 'astro:components';

interface Props {
	content: string;
	language?: string;
    filename?: string;
}

const {
	content,
	language = "plaintext",
    filename
} = Astro.props as Props;
---

<div class="fence">
	{filename && <div class="filename">{filename}</div>}

	<Code class="code" code={content} lang={language} theme="github-light" />
</div>
