---
interface Props {
    filename: string;
}

const {
    filename
} = Astro.props as Props;
---

<div class="code-block">
    <div class="code-block--header">
        <span class="filename ellipsis">{filename}</span>
    </div>
    <slot />
</div>
