---
import Link from "./Link.astro";
---

<footer class="content-grid">
	<div class="footer with-border-top">
		<p>Ethan Perry © 2025 – 2026</p>
	    <nav>
	        <ul>
	            <li><Link href="/" classes="dark-standard">Home</Link></li>
	            <li><Link href="/contact" classes="dark-standard">Contact</Link></li>
	            <li><Link href="/sitemap" classes="dark-standard">Sitemap</Link></li>
	        </ul>
	    </nav>
	</div>
</footer>

<style>
    .footer {
    	margin-top: 20rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1rem 2rem;

        padding-block: 2rem;

        color: var(--color-text-65);
    }

    nav ul {
        display: flex;
        align-items: center;
        gap: 1.5rem 2rem;
    }

    @media (width < 768px) {
        .footer {
            flex-direction: column;
            align-items: flex-start;
        }
    }
</style>
