<footer class="content-grid">
    <p>Built entirely in HTML and CSS.</p>
</footer>

<style>
    footer {
        margin-top: 20rem;
        font-style: italic;
        margin-bottom: 2rem;
    }
</style>