<footer class="content-grid">
    <div>
        <p>Built entirely in HTML and CSS.</p>
        <a href="/sitemap">Sitemap</a>
    </div>
</footer>

<style>
    footer {
        margin-top: 20rem;
        font-style: italic;
        margin-bottom: 2rem;
    }
</style>