<header class="content-grid">
    <nav class="breakout">
        <ul>
            <li><a href="/" aria-current="page">Home</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/writing">Writing</a></li>
            <li><a href="/">Reading</a></li>
            <li><a href="/work/">Work</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        position: sticky;
        top: 0;

        margin-bottom: 14rem;
        padding-block: 2rem;

        background: var(--color-site-background);
        z-index: 1;
    }

    nav ul {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    nav a[aria-current="page"] {
        cursor: default;
    }
</style>