---
import '../styles/header.css';
import Link from "./Link.astro";
import Icon from "../components/Icon.astro";
---

<header class="content-grid">
	<button class="nav-toggle" aria-controls="nav" aria-expanded="false">Menu</button>
	<nav id="nav" class="nav" data-visible="false">
		<ul class="nav--pages">
			<li><Link href="/">Home</Link></li>
			<li><Link href="/work">Work</Link></li>
		    <li><Link href="/writing">Writing</Link></li>
		    <li><Link href="/about">About</Link></li>
		    <li><Link href="/contact">Contact</Link></li>
		</ul>

		<ul class="nav--socials">
			<li><Link href="https://instagram.com/_ethan_perry/"><Icon name="instagram"/></Link></li>
			<li><Link href="//linkedin.com/in/ethan-a-perry"><Icon name="linkedin"/></Link></li>
			<li><Link href="https://github.com/ethan-a-perry"><Icon name="github"/></Link></li>
		</ul>
	</nav>
</header>

<script is:inline>
    const nav = document.querySelector('.nav');
    const navToggle = document.querySelector('.nav-toggle');

    navToggle.addEventListener('click', () => {
        const visibility = nav.getAttribute('data-visible')
        if (visibility === 'false') {
            nav.setAttribute('data-visible', 'true')
            navToggle.setAttribute('aria-expanded', 'true')
        } else if (visibility === 'true') {
            nav.setAttribute('data-visible', 'false')
            navToggle.setAttribute('aria-expanded', 'false')
        }
    });
</script>
