<header class="content-grid">
    <nav>
        <ul class="nav-pages">
            <li><a href="/" aria-current="page">Home</a></li>
            <li><a href="/">Experience</a></li>
            <li><a href="/">Projects</a></li>
            <li><a href="/">Contact</a></li>
        </ul>

        <ul class="nav-socials">
            <li>
                <a href="/">
                    <svg class="icon">
                        <use href="assets/icons/icons.svg#linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/">
                    <svg class="icon">
                        <use href="assets/icons/icons.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/">
                    <svg class="icon">
                        <use href="assets/icons/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/">
                    <svg class="icon">
                        <use href="assets/icons/icons.svg#goodreads"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</header>