---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
	href: string;
	variant?: "default" | "underline";
}

const {
	href,
	variant = "default",
	class : classes,
	...rest
} = Astro.props as Props;

const isExternal = /^(https?:)?\/\//.test(href) && !href.startsWith(Astro.site?.href ?? "\0");

const isCurrentPage = Astro.url.pathname.split("/")[1] === href.split("/")[1];
---

<a
	href={href}
	class:list={["link", `link--${variant}`, classes]}
	aria-current={isCurrentPage ? "page" : undefined}
	target={isExternal ? "_blank" : undefined}
	rel={isExternal ? "noopener noreferrer" : undefined}
	{...rest}
>
	<slot />
</a>
