---
import '../wwwroot/css/sudoku.css'
---

<div id="sudoku">
    <div class="sudoku">
        <div class="loader">
            {Array.from({ length: 15 }).map(() => (
                    <span></span>
            ))}
        </div>

        <div class="loader">
            {Array.from({ length: 17 }).map(() => (
                    <span></span>
            ))}
        </div>
    </div>
</div>

<script>
    import { startSudoku } from '../wwwroot/js/sudoku.js';

    setTimeout(() => {
        startSudoku();
    }, 800);
</script>