---
import Link from "../components/Link.astro";
import { getCollection } from 'astro:content';
import { sortCollectionByMostRecent } from '../wwwroot/js/utils.js';

const works = sortCollectionByMostRecent(await getCollection('work'));

const { limit } = Astro.props;
const visibleWork = limit ? works.slice(0, limit) : works;
---

<ul class="work-items margin-top-1">
	{visibleWork.map((work: any) =>
		<li>
			<Link href={`/work/${work.id}/`}>
				<div class="control">
					<h3>{work.data.title}</h3>
					<span class="color-text-65 fs-s">{work.data.datePublished.getFullYear()}</span>
				</div>

				<p>{work.data.description}</p>
			</Link>
		</li>
	)}
</ul>
