---
import Link from "../components/Link.astro";
import { getCollection } from 'astro:content';
import { sortCollectionByMostRecent } from '../wwwroot/js/utils.js';

const works = sortCollectionByMostRecent(await getCollection('work'));

const { limit } = Astro.props;
const visibleWork = limit ? works.slice(0, limit) : works;
---

<ul class="record margin-top-1">
	{visibleWork.map((work: any) =>
		<li>
			<Link href={`/work/${work.id}/`}>
				<span class="color-text-65 fs-s">{work.data.datePublished.toLocaleString('en-US', { month: 'short' })} {work.data.datePublished.getFullYear()}</span>
				<p><span class="bold">{work.data.title}</span>: {work.data.description}</p>
			</Link>
		</li>
	)}
</ul>
