---
import Link from "../components/Link.astro";
import { formatDate, sortCollectionByMostRecent } from '../lib/dates.js'
import { getCollection } from 'astro:content';

const posts = sortCollectionByMostRecent(await getCollection('writing'));

const { limit, classes } = Astro.props;
const visiblePosts = limit ? posts.slice(0, limit) : posts;
---

<ul class="records">
	{visiblePosts.map((post: any) =>
		<li>
			<Link class="record" href={`/writing/${post.id}/`}>
				<span class="color-text-65 fs-s">{formatDate(post.data.datePublished)}</span>
				<p>{post.data.title}</p>
			</Link>
		</li>
	)}
</ul>
