---
import Link from "../components/Link.astro";
import { formatDate, sortCollectionByMostRecent } from '../wwwroot/js/utils'
import { getCollection } from 'astro:content';

const posts = sortCollectionByMostRecent(await getCollection('writings'));

const { limit, classes } = Astro.props;
const visiblePosts = limit ? posts.slice(0, limit) : posts;
---

<ul class="record margin-top-1">
	{visiblePosts.map((post: any) =>
		<li>
			<Link href={`/writings/${post.id}/`}>
				<span class="color-text-65 fs-s">{post.data.tags.join(', ')} | {formatDate(post.data.datePublished)}</span>
				<p class="bold">{post.data.title}</p>
			</Link>
		</li>
	)}
</ul>
