---
import Base from '../../layouts/Base.astro';
import WorkIndex from '../../components/WorkIndex.astro';

const title = "Case Studies | Software Development, Apps, UI/UX | Ethan Perry";
const description = "Detailed case studies showcasing modern, cutting-edge apps, software development projects, and UI/UX design expertise.";
---
<Base title={title} description={description}>
	<section class="max-width-70ch">
		<h1>Recent Work</h1>
		<WorkIndex />
	</section>
</Base>
