---
import Base from '../../layouts/Base.astro';
import WorkIndex from '../../components/WorkIndex.astro';

const title = "Work | Ethan Perry";
const description = "A collection of projects, apps, and tools I've built—with detailed reports and breakdowns.";
---
<Base title={title} description={description}>
	<section class="max-width-70ch">
		<h1>Recent Work</h1>
		<WorkIndex />
	</section>
</Base>
