.fence {
	font-family: var(--font-code), monospace;
	font-size: var(--font-size-s);

	border: 1px solid var(--color-text-20);

	background-color: var(--color-grey-background);
}

.filename {
	padding: 1rem;
}

.code {
	overflow: scroll;
	margin-block: 0;
	padding: 1rem;

	border-top: 1px solid var(--color-text-20);

	max-height: min(600px, 60svh);

	scrollbar-width: thin;
	scrollbar-color: var(--color-accent-15) transparent;

	background-color: unset !important;
	color: unset !important;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
