---
import '../wwwroot/css/main.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="https://use.typekit.net/kse1sfa.css">
</head>
<body>

<Header />

<main class="content-grid">
    <slot />
</main>

<Footer />

</body>
</html>