---
import Base from './Base.astro';
import PostSidebar from '../components/PostSidebar.astro'
import { formatDate } from '../wwwroot/js/utils';

const { frontmatter, previousPost, nextPost } = Astro.props;
const { title, description, date, category, author, image, tags } = frontmatter;
---

<Base pageTitle="Post">
    <section class="post-wrapper">
        <div class="post">
            <div class="post-hero">
                <h1>{title}</h1>
                <div class="post-metadata">
                    <span class="post-metadata-date">{formatDate(date)}</span>
                    <div class="post-metadata-tags">Categories: {tags.join(', ')}</div>
                </div>
            </div>

            <div class="post-content">
                <div>
                    <slot />
                </div>

                <div class="post-navigation">
                    <a href={previousPost} class={previousPost ? 'with-arrow left' : 'no'}>Previous</a>
                    <a href={nextPost} class={nextPost ? 'with-arrow right' : 'no'}>Next</a>
                </div>
            </div>
        </div>
        <PostSidebar></PostSidebar>
    </section>
</Base>