---
import Base from './Base.astro';

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image, tags } = frontmatter;
---

<Base pageTitle={title}>
    <section>
        <h1>{title}</h1>
        <p>{description}</p>
    </section>

    <section class="content-grid full-width prose">
        <slot />
    </section>
</Base>