---
import Base from './Base.astro';

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image, tags } = frontmatter;
---

<Base pageTitle="Project">
    <section>
        <div class="hero">
            <h1 hero-title>{title}</h1>
            <div class="hero-description">
                <p>{description}</p>
            </div>
        </div>
        <div class="project-post">
            <slot />
        </div>
    </section>
</Base>