.link {
	display: inline-flex;
	align-items: center;
	gap: 7px;
}

.link--default:hover,
.link--default:focus-visible,
.link--underline,
.prose a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}

.prose a {
	color: var(--color-accent-100);
}
