@import "reset.css";

:root {
    --heading-font: 'freight-sans-pro';
    --content-font: 'minion-pro';
    --caption-font: 'minion-pro-caption';

    --font-size-00: .85rem;
    --font-size-0: .95rem;
    --font-size-1: 1rem;
    --font-size-2: 1.125rem;
    --font-size-3: 1.563rem;
    --font-size-4: 1.953rem;
    --font-size-5: 2.441rem;
    --font-size-6: 3.052rem;

    --color-site-background: hsl(51, 41%, 97%);

    --color-text-100: hsl(0, 0%, 10%);
    --color-text-80: hsl(0, 0%, 20%);
    --color-text-50: hsl(0, 0%, 41%);
    --color-text-20: hsl(0, 0%, 85%);

    --_color-accent: 210, 80%, 40%;

    --color-accent-100: hsla(var(--_color-accent), 1);
    --color-accent-70: hsla(var(--_color-accent), 0.7);
    --color-accent-40: hsla(var(--_color-accent), 0.4);
}

body {
    font-family: var(--content-font), serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;

    background: var(--color-site-background);
}

h1, h2, h3, h4, h5, h6, a, .skills li, form, label, input {
    font-family: var(--heading-font), serif;
    font-weight: 500;
}

h1 { font-size: 4rem; }

h4 { font-size: 1.2rem; }

a, label { font-size: var(--font-size-2); }

a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: transparent
}

a:not(nav a),
nav a[aria-current="page"] {
    text-decoration-color: var(--color-accent-40);
}

a:hover {
    text-decoration-color: var(--color-accent-70);
}

a.with-arrow::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    vertical-align: middle;
    background-image: url("../../../public/arrow-outward.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.caption {
    font-family: var(--caption-font), serif;
}

.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 1100px;
    --breakout-max-width: 1200px;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start]minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end]
        minmax(0, var(--breakout-size)) [breakout-end]
        minmax(var(--padding-inline), 1fr) [full-width-end];
    row-gap: 20rem;
    margin-bottom: 20rem;
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 4rem;
    row-gap: 1rem;
}

.hero h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 36px;
    height: 24px;
    background-image: radial-gradient(circle, var(--color-accent-40) 3px, transparent 4px);
    background-size: 12px 12px;
    top: -2rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
}

.projects figure {
    /* fit-content to retain margin access */
    inline-size: fit-content;
    margin-inline: auto;
}

.projects figcaption {
    /* no size contribution for figcaption */
    contain: inline-size;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects img {
    /* you can have max-width */
    max-width: 100%;
}

.companies {
    --position-padding-block: 2rem;
    --position-padding-inline: 3rem;
    --position-margin-left: 1rem;

    --color-graph: hsl(213 40% 76%);

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.company-title {
    display: inline-block;
    background: var(--color-graph);
    font-weight: 700;
    color: var(--color-text-80);
    border-radius: 10px;
    padding: 8px calc(var(--position-padding-inline) + var(--position-margin-left));
}

.position {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: var(--position-padding-block) var(--position-padding-inline);
    margin-left: var(--position-margin-left);
    max-width: 80%;
}

.position:has(+ .position) {
    box-shadow: inset 2px 0 0 0 var(--color-graph);
}

.position:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    transform: translateX(-50%);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 10px solid var(--color-graph);
}

.position::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--position-padding-inline) - 0.7rem);
    height: calc(var(--position-padding-block) + (1.1 * 1.25rem / 2));
    border-left: 2px solid var(--color-graph);
    border-bottom: 2px solid var(--color-graph);
    border-bottom-left-radius: 20px;
}

.date {
    font-style: italic;
    font-size: var(--font-size-0);
    margin-top: 0.5rem;
    color: var(--color-text-50);
}

.skills {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.skills li {
    background: var(--color-accent-40);
    border-radius: 20px;
    padding: 4px 12px;
    border: 1px solid var(--color-text-80);
    color: var(--color-text-80);
    font-size: var(--font-size-0);
}

.info {
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
}

.info p {
    margin-top: 3px;
}

.contact-info {
    grid-column: -1 / 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form {
    margin-top: 10rem;
}

form {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;

    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

.form-group {
    position: relative;
}

.form-group:has(textarea) {
    grid-column: 1 / -1;
}

input, textarea {
    padding: 1.5rem 0.7rem 0.7rem 0.7rem;

    outline: none;
    border: 1px solid var(--color-text-50);
    border-radius: 5px;
    background: transparent;

    transition: box-shadow 0.2s ease;

    color: var(--color-text-100);
    accent-color: var(--color-accent-40);
}

input:focus, textarea:focus {
    box-shadow: 6px 6px 0 var(--color-accent-40);
}

input:not([type="checkbox"], [type="radio"]),
textarea {
    width: 100%;
}

label {
    position: absolute;
    pointer-events: none;

    top: 1.85rem;
    left: 10px;
    transform: translateY(-50%);
    transition: .2s;

    color: var(--color-text-50);
}

.form-group:focus-within label,
.form-group:has(input:not(:placeholder-shown), textarea:not(:placeholder-shown)) label {
    top: 5px;
    transform: none;

    font-size: var(--font-size-00);
    color: var(--color-accent-100);
}

form button {
    cursor: pointer;
    justify-self: start;
    background-color: var(--color-accent-40);
    padding: 1em 1.5em;
    border: 0;
    border-radius: 16px;

    &:hover,
    &:focus-visible {
        background-color: hsl(from var(--color-accent-40) h s 40%);
    }
}