@layer reset, base, layout, components, utilities, pages;

@import "reset.css" layer(reset);

@layer base {
    :root {
        --heading-font: 'freight-sans-pro';
        --content-font: 'freight-sans-pro';
        /*--content-font: 'minion-pro';*/

        --font-size-base: 1rem;
        --font-size-body: 1.25rem;
        --font-size-s: .95rem;
        --font-size-xs: .85rem;

        --font-size-4: 1.25rem;
        --font-size-3: 1.375rem;
        --font-size-2: 1.7rem;
        --font-size-1: 2rem;

        /*--color-site-background: hsl(51, 41%, 97%);*/
        --color-site-background: white;

        --color-text-100: hsl(0, 0%, 10%);
        --color-text-80: hsl(0, 0%, 20%);
        --color-text-65: hsl(0, 0%, 30%);
        --color-text-50: hsl(0, 0%, 41%);
        --color-text-35: hsl(0, 0%, 60%);
        --color-text-20: hsl(0, 0%, 85%);
        --color-text-10: hsl(0, 0%, 78%);

        --_color-accent: 210, 80%, 40%;
        --color-accent-100: hsla(var(--_color-accent), 1);
        --color-accent-70: hsla(var(--_color-accent), 0.7);
        --color-accent-40: hsla(var(--_color-accent), 0.4);
        --color-accent-40-rgb: rgb(165, 188, 218);
        --color-accent-25: hsla(var(--_color-accent), 0.25);
        --color-accent-15: hsla(var(--_color-accent), 0.15);
        --color-accent-15-rgb: rgb(221, 228, 235);
        --color-accent-5: hsla(var(--_color-accent), 0.05);

        --color-accent-yellow: rgb(255, 254, 85);

        --_color-accent-secondary: 10, 55%, 45%;
        --color-accent-secondary-15: hsla(var(--_color-accent-secondary), 0.15);
        --color-accent-secondary-30: hsla(var(--_color-accent-secondary), 0.3);
        --color-accent-secondary-100: hsla(var(--_color-accent-secondary), 1);
    }

    /* Fonts */
    body {
        font-family: var(--heading-font), serif;
        font-weight: 400;
        font-style: normal;
        font-size: var(--font-size-body);
        line-height: 1.5;

        overflow-x: hidden;

        background: var(--color-site-background);
    }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, a, form, label, input, select {
        font-weight: 500;
        font-style: normal;
    }

    /* Font Sizes */
    h1, .h1 {
        --font-size: var(--font-size-1);
        font-size: var(--font-size);
        --font-size-diff: 0.3;
    }

    h2, .h2 {
        --font-size: var(--font-size-2);
        font-size: var(--font-size);
    }

    h3, .h3 {
        --font-size: var(--font-size-3);
        font-size: var(--font-size);
    }

    h4, .h4 {
        --font-size: var(--font-size-4);
        font-size: var(--font-size);
    }

    .fs-base {
        font-size: var(--font-size-base);
    }

    .fs-s {
        font-size: var(--font-size-s);
    }

    .fs-xs {
        font-size: var(--font-size-xs);
    }

    .fluid-type {
        font-size: clamp(1rem, 4cqi, 3rem);
    }

    @supports (font-size: 1cqi) {
        :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, .fluid-type) {
            --_font-min: calc(var(--font-size) - var(--font-size) * var(--font-size-diff, 0.3));

            font-size: clamp(
                    max(var(--font-size-body), var(--_font-min)),
                    var(--_font-min) + 1cqi,
                    var(--font-size)
            );
        }
    }
}

@layer layout {
    @layer content-grid {
        .content-grid {
            --padding-inline: 2rem;
            --content-max-width: 1200px;
            --breakout-max-width: 1200px;

            --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

            display: grid;
            grid-template-columns:
                [full-width-start] minmax(var(--padding-inline), 1fr)
                [breakout-start] minmax(0, var(--breakout-size))
                [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end]
                minmax(0, var(--breakout-size)) [breakout-end]
                minmax(var(--padding-inline), 1fr) [full-width-end];
            /*row-gap: 8rem;*/
        }

        .content-grid > :not(.breakout, .full-width),
        .full-width > :not(.breakout, .full-width) {
            grid-column: content;
        }

        .content-grid > .breakout {
            grid-column: breakout;
        }

        .content-grid > .full-width {
            grid-column: full-width;

            display: grid;
            grid-template-columns: inherit;
        }
    }

    @layer dual-column {
        .dual-column {
            container: dual-column inline-size;

            display: grid;
            gap: 4rem;

            @container (width > 768px) {
                grid-template-columns: 30% 70%;
                gap: 1rem;

                > :only-child {
                    grid-column: 2;
                }

                &.with-dot::before {
                    content: "";
                    display: block;

                    width: 10px;
                    height: 10px;

                    margin-left: 0.5rem;

                    border-radius: 50%;

                    margin-bottom: 6rem;
                }

                &.with-dot.blue::before {
                    background-color: var(--color-accent-25);
                }

                &   .with-dot.grey::before {
                    background-color: var(--color-text-10);
                }
            }
        }
    }

    @layer prose {
        .prose, .prose .prose-include {
            font-family: var(--content-font), serif;

            > :not(.prose-exclude) {
                max-width: 65ch;
            }

            a:not(.prose-exclude a) {
                color: var(--color-accent-100);

                &:hover {
                    color: var(--color-text-100);
                }

            }

            > h1,
            > h2,
            > h3,
            > h4 {
                margin-top: 2.5rem;
            }

            > p {
                margin-top: 1rem;
            }

            > ul {
                display: grid;
                gap: 0.25rem;

                > li {
                    padding-left: 1ch;
                    margin-left: 1rem;

                    &::marker {
                        content: "–";
                        font-size: var(--font-size-xs);
                    }
                }
            }

            > div:not(.prose-exclude) {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}

@layer utilities {
    .underline {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
    }

    .with-border-top {
        margin-top: 1rem;
        border-top: 1px solid var(--color-text-10);
        padding-top: 1rem;
    }

    .italic {
        font-style: italic;
    }

    .color-text-35 {
        color: var(--color-text-35);
    }

    .color-text-65 {
        color: var(--color-text-65);
    }

    .color-text-100 {
        color: var(--color-text-100);
    }

    .color-accent-70 {
        color: var(--color-accent-70);
    }

    .color-accent-secondary-100 {
        color: var(--color-accent-secondary-100);
    }

    .flow-2 * + * {
        margin-top: 2rem;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .flex-col-1 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .flex-col-2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .flex-row--5 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .flex-row-1 {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .flex-row-2 {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .flow--5 * + * {
        margin-top: 0.5rem;
    }

    .ul-flow {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        *> * + * {
            margin-top: 0.5rem;
        }
    }

    .margin-top-2 {
        margin-top: 2rem;
    }

    .margin-top-8 {
        margin-top: 8rem;
    }

    .margin-top-12 {
        margin-top: 12rem;
    }

    .grid-span-all {
        grid-column: 1 / -1;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .two-lines {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .theme-grey {
        background-color: rgb(245, 245, 245);

        padding: 1rem 1.5rem;

        p {
            color: var(--color-text-65);

        }

        span {
            color: var(--color-text-35);
        }
    }

    .scroller {
        overflow: scroll;

        /* Hide scrollbar in Firefox */
        scrollbar-width: none;

        /* Hide scrollbar in IE/Edge */
        -ms-overflow-style: none;

        /* Hide scrollbar in Chrome and Safari */

        &::-webkit-scrollbar {
            display: none;
        }

        &.vert {
            mask: linear-gradient(to bottom, transparent 0%, black 10%, black 50%, transparent 100%) no-repeat 0 / 100% 100%;
            -webkit-mask: -webkit-linear-gradient(to bottom, transparent 0%, black 5px, black 90%, transparent 100%) no-repeat 0 / 100% 100%;
        }

        &.horiz {
            mask: linear-gradient(to right, black 90%, transparent 100%) no-repeat 0 / 100% 100%;
            -webkit-mask: -webkit-linear-gradient(to right, transparent 0%, black 5px, black 90%, transparent 100%) no-repeat 0 / 100% 100%;
        }
    }
}

@layer pages {
    @layer home {}

    @layer work {
        .works {
            container: works / inline-size;

            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .work {
            font-family: var(--heading-font), sans-serif;
            background: rgb(245, 245, 245);

            padding: 1rem 1.5rem;

            display: inline-grid;
            grid-template-columns: 1fr min(300px, 100%);
            gap: 2rem;

            &:hover {
                background-color: var(--color-accent-15);
            }

            img {
                height: 100%;
                aspect-ratio: 1;
                align-self: center;
                object-fit: cover;
            }
        }

        .work--info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;

            p {
                color: var(--color-text-65);
            }
        }

        .work--details {
            color: var(--color-text-35);

            display: grid;
            grid-template-columns: 1fr auto;
            gap: 1rem;

            ul {
                display: flex;
                align-items: center;
                gap: 1ch;

                &::before {
                    content: "";
                    width: 6px;
                    height: 6px;

                    aspect-ratio: 1;

                    border: 1px solid currentColor;
                    border-radius: 50%;
                }
            }
        }

        @container works (width < calc(1.5rem + 250px + 2rem + 300px + 1.5rem)) {
            .work {
                grid-template-columns: 1fr;
                justify-items: center;

                max-width: min(450px, 100%);

                img {
                    height: 300px;
                    width: 100%;
                }

                .view {
                    display: none;
                }
            }
        }
    }

    @layer writings {
        .writing--date {
            align-self: flex-start;
        }

        .writing--tags {
            margin-left: 0.5em;
        }
    }

    @layer writings-post {
        .writing-view--container {
            container: writing / inline-size;
        }

        .writing-view {
            display: grid;
            grid-template-columns: minmax(50ch, 70ch) minmax(30ch, 1fr);
            gap: 4rem;
        }

        .writing-post {
            display: grid;
            gap: 4rem;

            nav ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;

                li {
                    display: grid;
                }

                a {
                    display: grid;
                    align-content: start;
                    color: var(--color-accent-secondary-100);
                }
            }
        }

        .metadata {
            background: rgb(245, 245, 245);
            padding: 4px 10px;
        }

        .writing-sidebar {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            color: var(--color-text-65);

            padding-left: 2rem;
            border-left: 1px solid var(--color-text-20);

            ul {
                width: min(45ch, 100%);

                > li {

                }
            }
        }

        @container writing (inline-size < calc(50ch + 30ch + 4rem)) {
            .writing-view {
                grid-template-columns: min(65ch, 100%);
                gap: 2rem;
            }

            .writing-sidebar {
                padding-left: unset;
                border-left: 0;

                padding-top: 2rem;
                border-top: 1px solid var(--color-text-20);
            }

            .writing-post nav ul {
                grid-template-columns: 1fr;
            }
        }

        .writings {
            margin-left: 1rem;
            padding-top: 1rem;
            border-left: 2px solid var(--color-accent-15);

            display: grid;
            gap: 1rem;

            li {
                padding-left: 1rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;

                    height: 2px;
                    width: 12px;
                    background: var(--color-accent-15-rgb);
                    left: -7px;
                    top: 0.6rem;
                }
            }
        }

        summary {
            position: relative;
            display: inline-flex;
            align-items: center;
            gap: 0.4rem;

            margin: 0;
            padding: 6px 12px;

            border: 0;
            border-radius: 5px;

            background: var(--color-accent-15-rgb);

            cursor: pointer;

            &::marker {
                content: none;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("/public/assets/icons/chevron-right.svg");

                transition: transform 0.2s ease-in-out;
            }
        }

        details[open] summary::after {
            transform: rotate(90deg);
        }
    }

    @layer about {
        .about--images {
            display: grid;
            gap: 1rem;

            width: min(900px, 100%);

            @media (width > 768px) {
                grid-template-columns: 1fr 1fr;
            }
        }

        .cv {
            display: grid;
            gap: 2rem;

            span, ul {
                color: var(--color-text-35);
            }

            > li:not(:last-child) {
                padding-bottom: 2rem;
                border-bottom: 1px solid var(--color-text-10);
            }
        }

        .role {
            display: grid;
            gap: 1rem;
        }

        .role--tags {
            li {
                display: inline;
            }

            li:not(:last-child)::after, .date::before {
                content: " \00b7";
                margin-inline: 1ch;
            }
        }
    }

    @layer contact {
        .contact {
            display: flex;
            flex-direction: column;

            gap: 12rem;

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;

                color: var(--color-text-65);
            }
        }

        @layer components {
            @layer form {
                .form--wrapper {
                    width: min(600px, 100%);
                }

                form {
                    display: grid;
                    gap: 2rem;

                    color: var(--color-text-65);
                }

                .form-group {
                    display: grid;
                    gap: 0.25rem;

                    &:has([required]) label {
                        display: flex;
                        gap: 1ch;

                        &::after {
                            content: "*";
                            color: var(--color-accent-100);
                        }
                    }
                }

                input, textarea {
                    padding: 0.75em 1em;

                    border: 1px solid var(--color-text-50);
                    border-radius: 5px;

                    background: transparent;

                    outline: none;
                    accent-color: var(--color-accent-40);

                    transition: box-shadow 0.2s ease;

                    &:focus-visible {
                        box-shadow: 6px 6px 0 var(--color-accent-40);
                    }
                }

                textarea {
                    box-sizing: content-box;
                    resize: vertical;
                    min-block-size: 3lh;
                }

                form button {
                    padding: 1em 1.5em;

                    border-radius: 16px;

                    background-color: var(--color-accent-15);
                    color: var(--color-text-65);

                    &:hover,
                    &:focus-visible {
                        background-color: var(--color-accent-40);
                    }
                }
            }
        }
    }

    @layer sitemap {
        .sitemap {
            display: grid;
            gap: 6rem;

            > li {
                display: grid;
                grid-template-columns: 100px 1fr;
                gap: 2rem;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }

            p {
                color: var(--color-accent-100);
            }

            a {
                font-weight: 400;
            }

            .may-scroll {
                max-height: 400px;
            }
        }
    }

    @layer error {
        .error {
            display: grid;
            gap: 2rem;

            & h1 {
                color: var(--color-accent-secondary-100);
            }
        }
    }
}

@layer components {
    @layer code-block {
        .code-block {
            position: relative;

            font-family: "Fira Code", monospace;

            background-color: rgb(245, 245, 245);

            overflow: scroll;

            max-height: min(600px, 60svh);
        }

        .code-block--header {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;

            background: var(--color-accent-40-rgb);
            padding: 0.5rem 2rem 0 2rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .filename {
            padding: 2px 14px;
            border-radius: 5px 5px 0 0;
            background: rgb(245, 245, 245);
        }

        pre {
            font-size: var(--font-size-base);

            padding: 1rem;

            background-color: unset !important;
            color: unset !important;
            overflow-x: unset !important;
        }

        .astro-code {}
    }

    @layer code-inline {
        code:not(pre code) {
            font-size: var(--font-size-base);
            background-color: var(--color-accent-25);

            padding: 2px 6px;
        }
    }
}