@layer reset, base, layout, components, pages, utilities;

@import "reset.css" layer(reset);
@import "fonts.css" layer(base);

@layer base {
	:root {
		--font-serif: "Erode";
		--font-code: "JetBrainsMono";

		--font-size-base: 1rem;
		--font-size-body: 1.25rem;
		--font-size-s: 0.95rem;

		--font-size-4: 1.25rem;
		--font-size-3: 1.375rem;
		--font-size-2: 1.7rem;
		--font-size-1: 2rem;

		--color-site-background: white;
		--color-grey-background: rgb(245, 245, 245);

		--color-text-100: hsl(0, 0%, 10%);
		--color-text-80: hsl(0, 0%, 20%);
		--color-text-65: hsl(0, 0%, 30%);
		--color-text-50: hsl(0, 0%, 41%);
		--color-text-35: hsl(0, 0%, 60%);
		--color-text-20: hsl(0, 0%, 85%);
		--color-text-10: hsl(0, 0%, 93%);

		--_color-accent: 210, 80%, 40%;
		--color-accent-100: hsla(var(--_color-accent), 1);
		--color-accent-70: hsla(var(--_color-accent), 0.7);
		--color-accent-40: hsla(var(--_color-accent), 0.4);
		--color-accent-40-rgb: rgb(165, 188, 218);
		--color-accent-25: hsla(var(--_color-accent), 0.25);
		--color-accent-15: hsla(var(--_color-accent), 0.15);
	}

	body {
		font-family: var(--font-serif), serif;
		font-size: var(--font-size-body);
		font-weight: 400;
		font-style: normal;
		line-height: 1.6;

		overflow-x: hidden;

		background-color: var(--color-site-background);

		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	h1,
	h2,
	h3,
	h4 a {
		font-weight: 500;
	}

	h1 {
		font-size: var(--font-size-1);
	}

	h2 {
		font-size: var(--font-size-2);
	}

	h3 {
		font-size: var(--font-size-3);
	}

	h4 {
		font-size: var(--font-size-4);
	}

	.fs-s {
		font-size: var(--font-size-s);
	}

	.fs-base {
		font-size: var(--font-size-base);
	}

	.link--default:hover {
		background-color: var(--color-accent-15);
	}

	.prose a {
		text-decoration: underline;
	}

	.link--blue,
	.prose a {
		color: var(--color-accent-100);

		&:hover,
		&:focus-visible {
			background-color: var(--color-accent-15);
		}
	}

	.link--button {
		display: inline-flex;

		padding: 7px 12px;
		border-radius: 10px;

		color: var(--color-text-65);
		background-color: var(--color-accent-15);

		&:hover,
		&:focus-visible {
			background-color: var(--color-accent-40);
		}
	}

	.link.with-icon {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		gap: 7px;

		&.left {
			flex-direction: row-reverse;
		}
	}

	.link--icon-only:hover {
		background-color: unset;
		color: var(--color-text-65);
	}
}

@layer layout {
	@layer content-grid {
		.content-grid {
			--padding-inline: 1.5rem;
			--content-max-width: 1200px;

			container: content-grid / inline-size;

			display: grid;
			grid-template-columns:
				[full-width-start] minmax(var(--padding-inline), 1fr)
				[content-start] min(
					100% - (var(--padding-inline) * 2),
					var(--content-max-width)
				)
				[content-end]
				minmax(var(--padding-inline), 1fr) [full-width-end];
		}

		.content-grid > :not(.full-width),
		.full-width > :not(.full-width) {
			grid-column: content;
		}

		.content-grid > .full-width {
			grid-column: full-width;

			display: grid;
			grid-template-columns: inherit;
		}
	}

	@layer prose {
		.prose {
			display: grid;
			grid-template-columns:
				[full-width-start content-start] min(100%, 70ch) [content-end]
				1fr [full-width-end];
		}

		.prose > :not(.full-width) {
			grid-column: content;
		}

		.prose > .full-width {
			grid-column: full-width;
		}

		.prose {
			overflow: hidden;

			:first-child {
				margin-top: 0;
			}

			:first-child:is(img) {
				margin-bottom: 1rem;
			}

			> h1,
			> h2,
			> h3,
			> h4 {
				margin-top: 2.5rem;
			}

			> p,
			img {
				margin-top: 1rem;
			}

			> ul {
				list-style: disc;
				padding-left: 2rem;

				li ul {
					list-style: circle;
					padding-left: 2rem;
				}

				li::marker {
					font-size: var(--font-size-s);
				}
			}

			> div:not(.prose-exclude) {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
		}
	}
}

@layer components {
	@layer record {
		.record {
			/* Also selects <li> without <a> childr */
			a,
			li:not(:has(> a)) {
				display: grid;
				gap: 1rem;

				padding-block: 1.5rem;
			}

			a:hover {
				background-color: var(--color-accent-15);
			}

			li:not(:last-child) {
				border-bottom: 1px solid var(--color-text-10);
			}
		}
	}

	@layer form {
		.form--wrapper {
			width: min(600px, 100%);

			display: grid;
			gap: 2rem;
		}

		form {
			display: grid;
			gap: 2rem;

			color: var(--color-text-65);
		}

		.form-group {
			display: grid;
			grid-auto-rows: min-content;
			gap: 0.25rem;

			&:has([required]) label {
				display: flex;
				gap: 1ch;

				&::after {
					content: "*";
					color: var(--color-accent-100);
				}
			}
		}

		input,
		textarea {
			--_color-box-shadow: var(--color-accent-40);

			padding: 0.75em 1em;

			border: 1px solid var(--color-text-50);
			border-radius: 5px;

			background: transparent;

			outline: none;
			accent-color: var(--color-accent-40);

			transition: box-shadow 0.2s ease;

			&:focus-visible {
				box-shadow: 6px 6px 0 var(--_color-box-shadow);
			}

			.form-group:has(.error-message:not(:empty)) & {
				border-color: var(--color-accent-secondary-100);

				&:focus-visible {
					--_color-box-shadow: var(--color-accent-secondary-30);
				}
			}
		}

		textarea {
			box-sizing: content-box;
			resize: vertical;
			min-block-size: 3lh;
		}

		form button {
			padding: 1em 1.5em;

			border-radius: 16px;

			background-color: var(--color-accent-15);
			color: var(--color-text-65);

			&:hover,
			&:focus-visible {
				background-color: var(--color-accent-40);
			}
		}

		.hp {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			height: 0;
			width: 0;
			z-index: -1;
		}

		#form-status:empty {
			display: none;
		}

		.error-message {
			font-size: var(--font-size-base);
			color: var(--color-accent-secondary-100);
		}

		.error-message:empty {
			display: none;
		}
	}

	@layer code-block {
		.code-block {
			--_color-background-ui: var(--color-grey-background);
			--_color-background-header: var(--color-accent-40-rgb);

			position: relative;

			font-family: var(--font-code), monospace;
			font-size: var(--font-size-s);

			overflow: scroll;
			max-height: min(600px, 60svh);

			background-color: var(--_color-background-ui);
		}

		.code-block--header {
			position: sticky;
			top: 0;
			left: 0;
			right: 0;

			display: flex;

			padding-inline: 2rem;

			background: var(--_color-background-header);
		}

		.filename {
			padding: 8px 14px;

			background-color: var(--_color-background-ui);
		}

		pre {
			padding: 1rem;

			background-color: unset !important;
			color: unset !important;
			overflow-x: unset !important;
		}
	}

	@layer code-inline {
		code:not(pre code) {
			font-size: var(--font-size-base);
			background-color: var(--color-accent-25);

			padding: 2px 6px;
		}
	}
}

@layer pages {
	@layer home {
		.home {
			display: grid;
			gap: 8rem;

			max-width: 70ch;
		}
	}

	@layer post {
		.post-links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 1rem;
		}

		.post-image {
			max-height: 650px;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.post-nav {
			display: grid;
			gap: 1rem;

			@container content-grid (inline-size > 768px) {
				grid-template-columns: 1fr 1fr;
			}
		}

		.post-nav .link {
			display: inline-block;
			background-color: var(--color-grey-background);

			padding: 2rem;

			border-radius: 5px;

			&:hover {
				background-color: var(--color-accent-15);
			}

			span {
				color: var(--color-accent-100);
			}
		}
	}

	@layer info {
		.info-images {
			max-width: 800px;

			display: grid;
			gap: 2rem;

			@container content-grid (inline-size > 700px) {
				grid-template-columns: 1fr 1fr;
			}

			img {
				width: min(400px, 100%);
			}
		}
	}

	@layer sitemap {
		.sitemap {
			display: grid;
			gap: 2rem;

			ul li {
				display: flex;
				align-items: flex-start;
				gap: 1ch;
			}

			ul li::before {
				content: "–";
				display: inline-block;
			}
		}
	}
}

@layer utilities {
	.with-border-top {
		margin-top: 1rem;
		border-top: 1px solid var(--color-text-10);
		padding-top: 1rem;
	}

	.color-text-65 {
		color: var(--color-text-65);
	}

	.color-text-80 {
		color: var(--color-text-80);
	}

	.color-accent-100 {
		color: var(--color-accent-100);
	}

	.flex-space {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.max-width-70ch {
		max-width: 70ch;
	}

	.max-width-90ch {
		max-width: 90ch;
	}

	.margin-top-1 {
		margin-top: 1rem;
	}

	.margin-top-2 {
		margin-top: 2rem;
	}

	.margin-top-4 {
		margin-top: 4rem;
	}

	.margin-top-6 {
		margin-top: 6rem;
	}

	.flow-1 * + * {
		margin-top: 1rem;
	}

	.bold {
		font-weight: 500;
	}

	.ellipsis {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.three-lines {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.three-lines {
		-webkit-line-clamp: 3;
		line-clamp: 3;
	}
}
